#logo:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#header h1{
    color: white;
}

#imgIntro{
    min-width: 13em;
}

#nav{
    text-align: center;
}

.form-calc{
    max-width: 30rem;
}

.text-cont{
    max-width: 15em;
}

footer {
    margin-top: 80px;
    height: 30vh;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-image: linear-gradient(white, rgb(180, 180, 180));
    bottom: 0;
    position: absolute;
}